.mml {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: transparent;
    opacity: 1;
    transition: opacity .5s ease-in;
}

.app-background {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 102%; 
  height: 102%;
  object-fit: fill; 
  z-index: -1;
  filter: blur(0.3vw);
  overflow: hidden;
}

.app-background-next {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 102%; 
  height: 102%;
  object-fit: fill; 
  z-index: -1;
  filter: blur(.3vw);
  overflow: hidden;
}

.app-main-panel-container {
  width: 100%;
}

.app-launcher-changelog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.bars-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30000;
  display: flex;
  flex-direction: column;

  display: none;
}

.bars-transition.active {
  display: flex;
}

.bar {
  width: 100%;
  height: 25%;
  background: var(--primary-background);
  background-image: url("./assets/dirt.jpg");
  transform: translateX(0);
  animation: bar-slide-out .5s linear forwards;
}

.bar:nth-child(1) { animation-delay: 0.1s; }
.bar:nth-child(2) { animation-delay: 0.2s; }
.bar:nth-child(3) { animation-delay: 0.3s; }
.bar:nth-child(4) { animation-delay: 0.4s; }
.bar:nth-child(5) { animation-delay: 0.5s; }

@keyframes bar-slide-out {
  to {
    transform: translateX(-100%); 
  }
}

.transition-container {
  width: 100%;
  height: 100%;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
;
}

.slide-in-left {
  transform: translateX(0%);
}

.slide-out-right {
  transform: translateX(100%);
}

.slide-in-right {
  transform: translateX(0%);
}

.slide-out-left {
  transform: translateX(-100%);
}

.app__no-modpack {
    width: 100%;
    height: 89vh;
    margin-top: 11vh;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
