.popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
    background: #050505d3;
  }
  

.confirm-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1a1a1a;
    width: 88.9vh;
    height: 41.1vh;
    border-radius: 3.4vh;
    border: .4vh solid #fff;
    color: #fff;
    font-family: var(--font-family);
}

.confirm-delete-body {
    flex-direction: row;
    font-size: 6vh;
    margin: 0;
    margin-bottom: 4vh;
}

.confirm-delete-body-uninstall {
    color: #ce4949;
    margin: 0;
}

.confirm-delete-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5.6vh;
}

.confirm-delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24vh;
    height: 8.4vh;
    border-radius: 1vh;
    

    cursor: pointer;
}

.confirm-delete-button-text {
    margin: 0;
    color: #fff;
    font-size: 4vh;
    font-family: var(--font-family);
}