.settings-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 53.7vh;

    margin-top: 2.5vh;
    gap: 1.8vh;
}

.settings-slider-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    width: 9vh;
    height: 4vh;
    background: #2a2a2a;
    border-radius: 1vh;
    font-size: 2vh;
    font-family: var(--font-family);
}


.settings-slider-input {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 4vh;
    height: 100%;
    background: transparent;
    color: #fff;
    font-size: 2vh;
    font-family: var(--font-family);
    
}

.settings-slider-input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
}

.settings-slider-text {
    margin: 0;
    margin-left: -2.5vh;
    padding: 0;
}

.settings-slider-slide-bar {
    width: 92%;
    height: 1.2vh;
    border-radius: 1vh;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
}

.settings-slider-slide-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.9vh;
    height: 1.9vh;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}
