.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    width: 100%;
    height: 96.296vh;
    background: #1a1a1a;

    font-family: var(--font-family-secondary);

    z-index: 2;
}

.settings__top {
    position: absolute;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #373737;
    border: #686868 solid 0.55vh;
    border-left: 0;
    border-right: 0;
    z-index: 4;
}


.settings-home {
    position: absolute;
    top: 3vh;
    left: 3.037vh;

    width: 4.8vh;
    height: 4.8vh;

    z-index: 4;
    cursor: pointer;
}

.settings-title {
    font-size: 7vh;
    font-family: var(--font-family);
    margin: 0;
    margin-top: 4.5vh;
    margin-bottom: 3vh;
}

.settings-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 8vh;
}

.settings-body-left {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;

    width: 59vh;
    height: 65vh;
    border-radius: 3.1vh;
    margin-left: 13vh;
    border: .27vh solid #a6a6a6;

    background: #222222;
}

.settings-body-left-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 33vh;
    height: 100%;
}

.settings-body-left-variants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.settings-body-right {
    margin-left: 12.1vh;
    background: #222222;
    width: 79vh;
    height: 30vh;
    border-radius: 3.1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    border: .27vh solid #a6a6a6;

}

.settings-profile-picture {
    width: 23vh;
    height: 23vh;
    border-radius: 9.3vh;
    margin-top: 4.1vh;
}

.settings-profile-skin {
    height: 38vh;
    margin-top: .5vh;
    margin-bottom: auto;
}

.settings-profile-name {
    margin-top: 2vh;
    font-size: 3vh;
    font-family: var(--font-family);
}

.settings-body-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ce4949;
    width: 18vh;
    height: 6vh;
    border-radius: .9vh;
    font-family: var(--font-family);
    font-size: 2.8vh;
    transition: transform 0.2s ease-in-out;

    cursor: pointer;
}

.settings-body-button:hover {
    transform: scale(1.05);
}

.settings-body-button.signIn {
    position: absolute;
    top: 70%;
    left: 35%;
    background: #fff;
    color: #252525;
    margin-bottom: 3vh;
}

.settings-body-button.signOut {
    margin-bottom: 3vh;
}

.settings-body-button.skin {
    background: #868686;
    color: #fff;
    margin-top: auto;
    margin-bottom: 1vh;
}

.settings-setting-header-text {
    font-size: 4vh;
    font-family: var(--font-family);
    margin: 0;
    margin-top: 7vh;
}

.settings-body-ram-text-container {
    display: flex;
    gap: 1vh;
    color: #d9d9d9;
}

.settings-body-ram-text {
    font-size: 2.3vh;
    font-family: var(--font-family-secondary);
    margin: 0;
}


.settings-about {
    position: absolute;
    bottom: 0vh;
    left: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.settings-about-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin-bottom: -6vh;
}

.settings-about-top-logo {
    width: 21vh;
    height: 21vh;
    cursor: pointer;
}

.settings-about-top-git {
    width: 2.8vh;
    height: 2.8vh;
    margin-bottom: -4vh;
    cursor: pointer;
}

.settings-about-version {
    margin: 0;
    color: #d9d9d9;
    font-size: 2vh;
    margin-left: .3vh;
}

.settings-version {
    position: absolute;
    bottom: 5vh;
    right: 1vh;
    font-size: 2vh;
    color: #d9d9d9;
    cursor: pointer;
}

.circle-toggle {
    display: flex;
    gap: 2.5vh;
}

.circle-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.circle-option {
    width: 2.6vh;
    height: 2.6vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: .25vh solid white; 
}

.circle-option-text {
    font-size: 3vh;
    font-family: var(--font-family);
    color: white;
    margin: 0;
}


.circle-option-selected.active {
    width: 1.9vh;
    height: 1.9vh;
    border-radius: 50%;
    background-color: #fff;
}